<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Issue</title>
</head>
<body>
<p>{{repository}} #{{issueNumber}}</p>
<p style="font-size: 32px; display:block; width:350px; word-wrap:break-word;">{{title}}</p>
<p>{{assignees}}</p>
<p>{{milestone}}</p>
<div style="width: 25px; height: 25px; border-radius: 50%; font-size: 12px; color: #fff; line-height: 25px; text-align: center; background: #242d82;">
  {{estimate}}
</div>
<hr>
</body>
</html>
